*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(
    #fab22e,
    #925f00);
}
.wrapper{
    width: 80vmin;
    padding: 50px 40px;
    background-color: #15161a;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(97,63,0,0.4);
}
span{
    display: block;
    text-align: center;
    font-size: 100px;
}
p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin: 30px 0;
    opacity: 0;
}
.fade{
    opacity: 1;
    transition: opacity 1.5s;
}
button{
    display: block;
    background-color: #fab22e;
    border: none;
    padding: 5px;
    font-size: 18px;
    color: #171721;
    font-weight: 600;
    padding: 12px 25px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.social-icons {
    display: flex;
    gap: 10px; /* Adjust the gap between social icons */
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    z-index: 4;
    left: 46.5%;
  }
  
  .social-icons img {
    width: 40px; /* Adjust the size of the icons */
    height: 40px;
    transition: transform 0.2s ease; /* Add a smooth transition on hover */
  }
  
  .social-icons img:hover {
    transform: translateY(-5px); /* Move the icons up slightly on hover */
  }
